<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Samsara API</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> Samsara API Endpoints </h1>
    <p> This page will be used to launch endpoint requests hopefully. </p>
	
    <form method ="POST">
	<input apiKey="apiKey">
    </form>

    {% row = 0 %}
    {% for driver in response["data"] %}
	<div>{{response["data"][row]["name"]}}</div>
        {% row +=1 %}
    {% endfor %}
      
    {% endblock %}
  </body>
</html>